@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center-place {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .output-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #335995;
    color: #335995;
    font-size: 14px;
  }

  .common-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: #000000;
    font-size: 14px;
  }

  .contract-search-grid {
    display: grid;
    grid-template-columns: 40px repeat(4, 90px) 60px 250px repeat(6, 80px);
    gap: 10px;
    align-items: center;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 반투명 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }

  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .blue-button {
    background-color: #335995;
    color: white;
    border-radius: 6px;
  }

  .contract-input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
  }
}

@media print {
  .print-hidden {
    display: none !important;
  }

  .print-visible {
    display: block !important;
  }

  body {
    background-color: white; /* 배경을 흰색으로 설정 */
  }
}
